In [1]:
tup1=('hi',1,'prog')
print(tup1)

('hi', 1, 'prog')

In [2]:
print(type(tup1))

<class 'tuple'>

In [14]:
tup2=(2,)
tup3=tup1+tup2
tup3+=(6,7)
tup3+(10,) #doesn't add 
print(tup3)

('hi', 1, 'prog', 2, 6, 7)

In [19]:
6 in tup3

True

In [8]:
tu=()
print(type(tu))

<class 'tuple'>

In [10]:
li=tuple([1,2,3,4])
print(li)

(1, 2, 3, 4)

In [18]:
n=int(input("Enter the no. of employees"))
salary=[]
for i in range(n):
    salaries = int(input())
    salary.append(salaries)
min_salary = min(salary)
max_salary = max(salary)
print("Minimum Salary:", min_salary)
print("Maximum Salary:", max_salary)

Enter the no. of employees 3
 1000
 2000
 3000

Minimum Salary: 1000
Maximum Salary: 3000

In [21]:
seq=[1,2,3]
print(tuple(seq))

(1, 2, 3)

In [23]:
t=tuple()
t=t+('PYTHON',)
print(t)
print(len(t))
t1=(10,20,30)
t2=t1+t
print(len(t2))
t3=t1*3
print(t3)

('PYTHON',)
1
4
(10, 20, 30, 10, 20, 30, 10, 20, 30)

In [28]:
n=int(input("Enter the employees"))
employees={}
for i in range(n):
    name = input("Enter name of employee : ")
    num = input("Enter number of employee: ")
    employees[name] = num
for name, num in employees.items():
    print(f"{name}: {num}")
print(employees.keys())
print(employees.values())

Enter the employees 1
Enter name of employee 1:  abc
Enter number of employee 1:  100

abc: 100
dict_keys(['abc'])
dict_values(['100'])